<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake Data Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-300">
    <div class="h-screen flex flex-col items-center justify-center">
      <h1 class="text-slate-800 text-4xl font-bold">Fake User Api</h1>
      <h2 class="text-slate-700 text-2xl font-medium">
        Generate fake user, bank, phone and emails!
      </h2>
      <p class="text-slate-500 w-1/2">
        Any data given by the API is not real, please do not try to use this
        number, card, e-mail address or make a call or message. The site only
        produces realistic data. There is no guarantee that any real data will
        appear here, if your data appears here or is stolen, it is not our
        responsibility!
      </p>
    </div>
  </body>
</html>
